---
import { Image } from "astro:assets";

const { imgSrc } = Astro.props;
import ContentLayout from "../layouts/ContentLayout.astro";
import ImageComponent from "../components/ImageComponent.astro";
const { frontmatter } = Astro.props;

const images = await Astro.glob("../assets/art/*.png");
---

<ContentLayout pageTitle={"Art"}>
  <p>TODO: Show all my iamges from /art here</p>
</ContentLayout>
