---
import { Image } from "astro:assets";

const { imgSrc } = Astro.props;
import ContentLayout from "../layouts/ContentLayout.astro";
import ImageComponent from "../components/ImageComponent.astro";
const { frontmatter } = Astro.props;

const images = await Astro.glob("../assets/art/*.png");
---

<ContentLayout pageTitle={"Art"}>
  <div class="flex-grow">
    images.map((image) => {(<Image src={image.url} alt="" />)})
  </div>
</ContentLayout>
