---
import ContentLayout from "../layouts/ContentLayout.astro";
// 1. The frontmatter prop gives access to frontmatter and other data
---

<ContentLayout pageTitle={"Curiculum Vitae"}>
  <div>
    <object
      data="resume-2024.pdf"
      type="application/pdf"
      width="700px"
      height="700px"
    >
      <embed src="resume-2024.pdf" />
    </object>
  </div>
</ContentLayout>
