---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout title="Index">
  <h1>Hello World</h1>

  <ol class='list-decimal bg-gray-200'>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>


</BaseLayout><html lang="en">


