---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import IndexHeader from "../components/IndexHeader.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="">
    <IndexHeader title={pageTitle} />

    <div class="flex flex-col prose space-y-1 mx-1">
      <p
        class="border-2 bg-green-50 border-green-400 p-2 m-0 
        first-letter:text-5xl first-letter:font-bold first-letter:text-slate-900
        first-letter:mr-2 first-letter:float-left first-letter:font-mono first-letter:bg-green-400 first-letter:p-2 "
      >
        <span class="uppercase tracking-widest">
          I am a German expat living in Belgium.
        </span> I speak German, English, as well as some Dutch, French, and Turkish.
        &#127465;&#127466; &#127463;&#127466; &#127475;&#127473; &#127467;&#127479;
        &#127481;&#127479;
      </p>
      <p
        class="border-2 bg-teal-50 border-teal-400 p-2
        first-letter:text-5xl first-letter:font-bold first-letter:text-slate-900
        first-letter:mr-2 first-letter:float-left first-letter:font-mono first-letter:bg-teal-300 first-letter:p-2"
      >
        <span class="uppercase tracking-widest">
          Research is my past-time. 
        </span>
        I investigate Personal Data Flows in Personal Data Spaces at KNoWS. See my
        Github, Orcid, and publications.
      </p>
      <p
        class="border-2 bg-sky-50 border-sky-400 p-2 
        first-letter:text-5xl first-letter:font-bold first-letter:text-slate-900
        first-letter:mr-2 first-letter:float-left first-letter:font-mono first-letter:bg-sky-300 first-letter:p-2"
      >
        <span class="uppercase tracking-widest">
          Writing is my lifeblood. 
        </span>
        I like to write and tell stories,
        and occasionally post something in my <a>blog</a>.

      </p>
      <p
        class="border-2 bg-indigo-50 border-indigo-400 p-2
        first-letter:text-5xl first-letter:font-bold first-letter:text-slate-900
        first-letter:mr-2 first-letter:float-left first-letter:font-mono first-letter:bg-indigo-300 first-letter:p-2"
      >
        <span class="uppercase tracking-widest">
          Art is my soul. 
        </span>
        I love create, draw, and design.
        I love bold colors and abstract art. See my Instagram, drawings,

      </p>
      <p
        class="border-2 bg-purple-50 border-purple-400 p-2
        first-letter:text-5xl first-letter:font-bold first-letter:text-slate-900
        first-letter:mr-2 first-letter:float-left first-letter:font-mono first-letter:bg-purple-300 first-letter:p-2"
      >
        <span class="uppercase tracking-widest">
          Contact me! 
        </span>
        I like swans, books and pizza 🦢🦢🦢
        TODO: Icons to Github, OrcID, Email, 
        <a class="">Kontakt</a> 
      </p>

      <div class="flex flex-col prose">
        <p>
          Below you can see my latest writings (<a>→Blog</a>), or you can filter
          for
          <a>Tags</a> or <a>See All</a>.
        </p>

        <ol class="list-decimal">
          {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
          }
        </ol>
      </div>
    </div>
  </div>
</BaseLayout>
