---
import { Icon } from "astro-icon/components";
---

<a href="mailto:acco@mailbox.org"><Icon name="mdi:email" class="w-8 h-8" /></a>
<a href="https://github.com/j-steinbach"
  ><Icon name="mdi:github" class="w-8 h-8" /></a
>
<a href="https://www.instagram.com/altgans/"
  ><Icon name="mdi:instagram" class="w-8 h-8" /></a
>
<!-- <a href="#"><Icon name="mdi:university" class="w-8 h-8" /></a> -->
<a href="https://www.linkedin.com/in/jonas-steinbach/"
  ><Icon name="mdi:linkedin" class="w-8 h-8" /></a
>
<div class="bg-stone-800 grow"></div>
