---
import { Icon } from "astro-icon/components";
---

<!-- https://docs.astro.build/en/recipes/tailwind-rendered-markdown/ --><!-- <div class="h-2 bg-stone-700"></div> -->
<!-- <div class="flex flex-row gap-x-1 min-w-64 place-items-baseline bg-yellow-300"> -->
<!--   <a class="flex-none bg-stone-800 self-stretch" href=".."> -->
<!--     <Icon name="mdi:arrow-top-left" class="w-8 h-8 m-1" /> -->
<!--   </a> -->
<!--   <h1 -->
<!--     class="text-balance text-4xl font-['cinzel'] font-bold leading-snug text-stone-800 text-center ml-2" -->
<!--   > -->
<!--     Footer -->
<!--   </h1> -->
<!--   <div class="max-w-10"></div> -->
<!-- </div> -->
<!-- <div class="h-2 bg-yellow-200 hidden sm:block"></div> -->
<!---->

<div class="flex flex-col bg-blue-200" >
  <div class="min-h-8 "></div>

      <div class="flex flex-row gap-x-4 pt-4 bg-blue-300">
        <div class="bg-stone-800 grow "></div>
        <a href="#"><Icon name="mdi:email" class="w-8 h-8" /></a>
        <a href="#"><Icon name="mdi:github" class="w-8 h-8" /></a>
        <a href="#"><Icon name="mdi:instagram" class="w-8 h-8" /></a>
        <a href="#"><Icon name="mdi:university" class="w-8 h-8" /></a>
        <a href="#"><Icon name="mdi:linkedin" class="w-8 h-8" /></a>
        <div class="bg-stone-800 grow"></div>
      </div>

  <div class="min-h-16 bg-stone-800"></div>

  <!-- <a href="#" class="bg-white text-center">Back to top</a> -->
</div>
