---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
---

<!-- https://docs.astro.build/en/recipes/tailwind-rendered-markdown/ -->
<div class="flex flex-row min-w-64 bg-orange-500 ">

  <Icon
    name="mdi:arrow-top-left" 
    class="flex-none w-12 h-12 bg-blue-400 " />

  <h1
    class="pt-2 pl-1 truncate text-3xl font-['cinzel'] font-bold text-black text-center" >
    {title}
  </h1>
  <div class="max-w-10"/>
</div>
