---
const { title } = Astro.props;
import { Icon } from "astro-icon/components";
---

<!-- https://docs.astro.build/en/recipes/tailwind-rendered-markdown/ -->
<div class="flex flex-row gap-x-1 min-w-64 bg-orange-500 place-items-baseline">
  <a class="flex-none bg-blue-500 self-stretch" href="..">
    <Icon name="mdi:arrow-top-left" class="w-8 h-8 m-1" />
  </a>
  <h1
    class="truncate text-3xl font-['cinzel'] font-bold leading-snug text-black text-center"
  >
    {title}
  </h1>
  <div class="max-w-10"></div>
</div>
