---
// const { title } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="flex flex-row gap-x-2 min-w-64 bg-stone-800 place-items-baseline">
  <a class="flex-none bg-amber-300 self-stretch">
    <Icon name="mdi:duck" class="w-8 h-8 m-1 text-stone-700" />
  </a>
  <h1
    class="text-3xl font-['cinzel'] font-bold leading-snug text-white text-center shrink"
  >
    <!-- {title} -->
    I am Jonas
  </h1>
</div>
<h1
  class="text-3xl px-1 font-['cinzel'] font-bold leading-snug text-black text-center bg-yellow-300"
>
  and this is my website &#8628; &#10552; &#9759;
</h1>
