---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.writings.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "writings" }}</h2>
  <ul class="post-list">
    {%- for writing in site.writings -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ writing.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ writing.url | relative_url }}">
          {{ writing.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ writing.excerpt }}
      {%- endif -%}
      <p><i>{{ writing.content | number_of_words }} words.</i></p>
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
