---
import ContentLayout from "./ContentLayout.astro";
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---

<ContentLayout pageTitle={frontmatter.title}>
  <!-- Add other UI components here, like common headers and footers. -->
  <!-- <div class="max-w-prose bg-red-200"> -->
  <div
    class="p-4 prose
    bg-yellow-50
    prose-gray
  prose-h1:font-bold
  prose-h1:text-xl
  prose-a:text-red-600
  prose-a:no-underline
  prose-a:italic
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline"
  >
    <slot />
  </div>
  <!-- 2. Rendered HTML will be passed into the default slot. -->
</ContentLayout>
