---
import BaseLayout from './BaseLayout.astro';
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---
 <BaseLayout pageTitle={frontmatter.title}> 
    <!-- Add other UI components here, like common headers and footers. -->
    <div class="max-w-prose bg-red-200">
      <!-- 2. Rendered HTML will be passed into the default slot. -->
      <slot/>
    </div>
 <BaseLayout/> 
